<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/qrcode.js"></script>
</head>
<body>
    <input id="text" type="hidden" value="@ViewData["id"]" style="width:80%" /><br />
    <div><h4>Ticket Especial</h4></div>
    <div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>

    <script type="text/javascript">
        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width: 100,
            height: 100
        });

        function makeCode() {
            var elText = document.getElementById("text");

            if (!elText.value) {
                alert("Input a text");
                elText.focus();
                return;
            }

            qrcode.makeCode(elText.value);
        }

        makeCode();

        $("#text").
            on("blur", function () {
                makeCode();
            }).
            on("keydown", function (e) {
                if (e.keyCode == 13) {
                    makeCode();
                }
            });
    </script>

    <h4>@ViewData["id"]</h4>
    <h4>Data de emissão: @ViewData["dataEmissao"]</h4>
    <script>
        jQuery('#qrcode').qrcode("this plugin is great");
        jQuery('#qrcodeTable').qrcode({
            render: "table",
            text: "http://jetienne.com"
        });
        jQuery('#qrcodeCanvas').qrcode({
            text: "http://jetienne.com"
        });
    </script>
</body>
