@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Emissão</h2>
            <a asp-action="GerarTicketExtraviado">Emissão de Ticket Extraviado</a>
    </div>
    <div class="col-md-3">
        <h2>Guiche</h2>
            <form method="post" asp-action="calculaValorTicket">
                <input type="text" name="id" />
                <input type="submit" value="Calculo do valor do Ticket" formmethod="post" />
            </form>
        <br />
        <br />
            <form method="post" asp-action="liberacaoTicket">
                <input type="text" name="id" />
                <input type="submit" value="Liberação do Ticket" formmethod="post" />
            </form>
    </div>
</div>
